@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

@container buttons (width > #{em(703)}) {

    .buttons {
        flex-direction: row;
        column-gap: 16px;
    }

    .button {
        padding-inline: 36px;
    }
}

@container partners (width > #{em(380)}) {
    .partners {

        &__list {
            flex-direction: row;
            justify-content: center;
            column-gap: fluid(50, 95, 768, 1440);
            flex-wrap: wrap;
        }
    }
}

@media (width > em(785)) {
    .footer {
        text-align: start;
        padding-inline: fluid(80, 165, 689, 1440);
        padding-block: 38.5px;
        flex-direction: row;
        column-gap: fluid(40, 135, 689, 1440);

        &__nav {
            margin-block-end: 0px;
            margin-right: auto;
        }

        &__link-list {
            grid-auto-columns: 1fr;
            grid-template-areas:
            "faq pres"
            "con ins"
            "pri ...";
            row-gap: 12px;
            column-gap: fluid(30, 70, 700, 1440);
        }
    }
}

@media (width > em(1200)) {
    
    h2 {
        letter-spacing: var(--ls-h2-desktop);
    }
    
    .main p {
        letter-spacing: var(--ls-body-2);
    }

    .main {
        padding-block-end: 150px;
    }
    
    .header {
        margin-block-end: 99px;
        
        &__bg {
            padding-block-start: 131px;
            padding-block-end: 107px;
            background-image: url(../assets/images/bg-header-desktop.png);
        }
        
        &__title {
            letter-spacing: var(--ls-h1-desktop);
        }
    }
    
    .main {
        padding-inline: 0px;
    }
    
    .snippets {
        margin-block-end: 19px;
        
        &__content {
            row-gap: 19px;
        }
        
        &__lists {
            text-align: start;
            flex-direction: row;
            column-gap: fluid(20, 110, 1200, 1440);
            transform: translateX(-147px);
        }

        &__features {
            margin-block-start: 68px;
        }
        
        &__feature {
            align-items: start;
            row-gap: 8px;
            
        }
    }
    
    .access {
        margin-block-end: 30px;
    }
    
    .workflow {
        row-gap: 72px;
        margin-block-end: 19px;
        
        &__paper-tool {
            row-gap: 36px;
        }
        
        &__tools {
            flex-direction: row;
            justify-content: center;
            column-gap: 30px;
        }
        
        &__tool-content {
            row-gap: 16px;
        }
    }

    .partners {
        &__google-img {
            inline-size: rem(165);
            block-size: rem(49);
        }
    
        &__ibm-img {
            inline-size: rem(145);
            block-size: rem(46);
        }
    
        &__ms-img {
            inline-size: rem(161);
            block-size: rem(38.1);
        }
    
        &__hp-img {
            inline-size: rem(134);
            block-size: rem(56);
        }
    
        &__vg-img {
            inline-size: rem(125);
            block-size: rem(30);
        }
    }
    .download {
        row-gap: 48px;
    }

    .footer {
        &__link-list {
            grid-template-areas:
            "faq pri ins"
            "con pres ...";
        }
    }
}