@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

body {
    min-height: 100vh;
}

a:focus-visible {
    outline: rem(4) solid var(--clr-text-primary);
}

.header {
    margin-block-end: 109px;

    &__skip-link {
        position: absolute;
        inset-inline-start: rem(-100);
        inset-block-start: 0;
        inline-size: rem(1);
        block-size: rem(1);
        overflow: clip;

        &:focus-visible {
            inset-inline-start: 0;
            inline-size: fit-content;
            block-size: fit-content;
            padding: 1rem;
            background-color: var(--clr-primary);
            color: var(--clr-text-light);
            z-index: 100;
            border-end-end-radius: rem(12);
            text-decoration: underline;
            font-weight: var(--fw-2);
        }
    }

    &__bg {
        padding-block-start: 123px;
        padding-block-end: 115px;
        background-image: url(../assets/images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__logo {
        inline-size: rem(125);
        block-size: rem(125);
    }

    &__content-wrapper {
        padding-inline: 32px;
        text-align: center;
        transform: translateY(-51px);
    }

    &__title {
        line-height: 1.3;
    }
    
    &__desc {
        font-size: var(--fs-header-desc);
        max-inline-size: 57ch;
    }
}

.button {
    @include m.button;
    min-inline-size: max-content;
    padding-inline: 75px;
    transition: opacity 0.3s;
    
    &:hover, &:focus-visible {
        opacity: 0.8;
    }

    &--primary {
        background-color: var(--clr-primary);
        box-shadow: inset 0 rem(-3) 0 0 var(--clr-btn-in-shadow),
                    0 rem(10) rem(20) 0 var(--clr-btn-out-shadow-primary)
    }
    &--secondary {
        background-color: var(--clr-secondary);
        box-shadow: inset 0 rem(-3) 0 0 var(--clr-btn-in-shadow),
                    0 rem(10) rem(20) 0 var(--clr-btn-out-shadow-secondary);
    }
}