:root {
    --clr-primary: hsl(170, 65%, 31%);
    --clr-secondary: hsl(233, 100%, 65%);
    --clr-text-primary: hsl(210, 10%, 33%);
    --clr-text-secondary: hsl(196, 11%, 34%);
    --clr-text-light: hsl(0, 0%, 100%);
    --clr-btn-in-shadow: hsla(0, 0%, 0%, 0.1513);
    --clr-btn-out-shadow-primary: hsla(160, 45%, 31%, 0.5);
    --clr-btn-out-shadow-secondary: hsla(0, 0%, 0%, 0.0988);
    --clr-footer-bg: hsla(201, 11%, 66%, 0.1);
    --clr-hover: hsl(171, 66%, 44%);
}