:root {
    --clr-primary: hsl(170, 65%, 31%);
    --clr-secondary: hsl(233, 100%, 65%);
    --clr-text-primary: hsl(210, 10%, 33%);
    --clr-text-secondary: hsl(196, 11%, 34%);
    --clr-text-light: hsl(0, 0, 100%);
}