@use './functions' as *;

@mixin button {
    color: var(--clr-text-light);
    font-size: var(--fs-button);
    font-weight: var(--fw-2);
    line-height: var(--lh-secondary);
    letter-spacing: var(--ls-button);
    border-radius: rem(28);
    padding-block: 13px;
}