@use './functions' as *;

@font-face {
    font-display: swap;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/bai-jamjuree-v11-latin-600.woff2') format('woff2');
}

:root {
    --ff-primary:'Bai Jamjuree', 'Arial', 'Helvetica', sans-serif;
    --fs-h1: #{fluid(32, 46, 375, 1440, rem)};
    --fs-header-desc: #{fluid(16, 20, 375, 1440, rem)};
    --fs-button: #{rem(18)};
    --fs-h2: #{fluid(28, 36, 375, 1440, rem)};
    --fs-body-text-1: #{fluid(16, 18, 375, 1440, rem)};
    --fs-h3: #{rem(24)};
    --fs-body-text-2: #{rem(16)};
    --fs-footer: #{rem(18)};
    --fw-1: 400;
    --fw-2: 600;
    --lh-primary: #{fluid(26, 30, 375, 1440, rem)};
    --lh-secondary: calc(26/16);
    --ls-h1: #{rem(-0.52)};
    --ls-header-desc: #{fluid(0.12, 0.15, 375, 1440, rem)};
    --ls-button: #{rem(0.5)};
    --ls-h2: #{rem(-0.46)};
    --ls-h3: #{rem(0.39)};
    --ls-body-1: #{rem(0.12)};
    --ls-body-2: #{fluid(0.12, 0.14, 375, 1440, rem)};
    --ls-body-3: #{rem(0.14)};
}